NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_STELLAR_CAIP2=stellar:testnet
NEXT_PUBLIC_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
NEXT_PUBLIC_ASSET_ISSUER=GTEST_ASSET_ISSUER_REPLACE_ME
NEXT_PUBLIC_ASSET_CONTRACT=CTEST_SAC_CONTRACT_REPLACE_ME
NEXT_PUBLIC_CONTRACT_ID=CTEST_SELLERIDENTITYESCROW_REPLACE_ME
X402_FACILITATOR_URL=https://channels.openzeppelin.com/x402/testnet
STELLAR_RECIPIENT=GTEST_RECIPIENT_REPLACE_ME
